@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Molle&family=Open+Sans:ital,wght@0,700;0,800;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #f64f59, #c471ed);
}
body .wrapper {
  position: relative;
  width: 400px;
  height: 500px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  padding: 40px;
}
body .wrapper .form-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}
body .wrapper .form-wrapper h2 {
  font-size: 30px;
  color: #fff;
  text-align: center;
}
body .wrapper .form-wrapper .input-group {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}
body .wrapper .form-wrapper .input-group input {
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}
body .wrapper .form-wrapper .input-group input:focus ~ label {
  top: -5px;
}
body .wrapper .form-wrapper .input-group input:valid ~ label {
  top: -5px;
}
body .wrapper .form-wrapper .input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
body .wrapper .form-wrapper .remember {
  margin: -5px 0 15px 5px;
}
body .wrapper .form-wrapper .remember label {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}
body .wrapper .form-wrapper .remember label input {
  accent-color: #f4157e;
}
body .wrapper .form-wrapper button {
  position: relative;
  width: 100%;
  height: 40px;
  background: #f4157e;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: none;
  outline: none;
}
body .wrapper .form-wrapper .signUp-link {
  font-size: 14px;
  text-align: center;
  margin: 15px;
}
body .wrapper .form-wrapper .signUp-link p {
  color: #fff;
}
body .wrapper .form-wrapper .signUp-link p a {
  color: #f4157e;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
body .wrapper .form-wrapper .signUp-link p a:hover {
  text-decoration: underline;
}
body .wrapper .form-wrapper .social-platform {
  font-size: 14px;
  color: #fff;
  text-align: center;
}
body .wrapper .form-wrapper .social-platform a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin: 15px 6px 0;
  transition: 0.3s;
}
body .wrapper .form-wrapper .social-platform a i {
  color: #fff;
  font-size: 14px;
  transition: 0.3s;
}
body .wrapper .form-wrapper .social-platform a:hover {
  background: #fff;
}
body .wrapper .form-wrapper .social-platform a:hover i {
  color: rgba(0, 0, 0, 0.3);
}
body .wrapper .form-wrapper.sign-up {
  position: absolute;
  top: 0;
  transform: scale(0) translate(200px, -500px);
  -webkit-transform: scale(0) translate(200px, -500px);
  -moz-transform: scale(0) translate(200px, -500px);
  -ms-transform: scale(0) translate(200px, -500px);
  -o-transform: scale(0) translate(200px, -500px);
}
body .wrapper.active .form-wrapper.sign-in {
  transform: scale(0) translate(-300px, 500px);
  -webkit-transform: scale(0) translate(-300px, 500px);
  -moz-transform: scale(0) translate(-300px, 500px);
  -ms-transform: scale(0) translate(-300px, 500px);
  -o-transform: scale(0) translate(-300px, 500px);
}
body .wrapper.active .form-wrapper.sign-up {
  transform: scale(1) translate(0, 0);
  -webkit-transform: scale(1) translate(0, 0);
  -moz-transform: scale(1) translate(0, 0);
  -ms-transform: scale(1) translate(0, 0);
  -o-transform: scale(1) translate(0, 0);
}

.sdf {
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}/*# sourceMappingURL=style.css.map */